<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Rodrigo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" id="container">
        <section>
            <aside>
                <div  id="show" class="container-dropdown hide">
                <select id="selectLetter"> 
                        <option value="A" selected>Selecione uma opção</option>
                        <option value="A">Opção A</option>
                        <option value="B">Opção B</option>
                    </select>
                    <button type="submit" onclick="offDropDown()">close</button>                    
                </div>
                <div class="option-button">
                    <button type="submit" onclick="onDropDown()">Option</button>
                </div>
        
                <div class="quantity">
                    <p>Quantity</p>
                    <input type="text" placeholder="Type here" onchange="render(1)">
                </div>
            </aside>

            <article>
                <div class="container">
                    <div id="item-container">
                        
                    </div>
                    
                    <div class="prev-next">
                        <a class="prev"  onclick="previousPage()" data-value="1">&#10094;</a>
                        <a class="next"  onclick="nextPage()" data-value="1">&#10095;</a>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <script src="script.js"></script>
    <script>
        function onDropDown() {
           document.getElementById("show").style.display = "block";
           setTimeout(()=>{
            document.querySelector(".container").classList.add('closer')
           },1500);
           }
        
           function offDropDown() {
           document.getElementById("show").style.display = "none";
           document.querySelector(".container").classList.remove('closer')
       }
       container.addEventListener('click',(e)=>{
           let classList = document.querySelector(".container").classList
           let obj2 = document.getElementById("show")
           if (classList.contains('closer') && e.target !== obj2) offDropDown()
        })

       </script>
</body>
</html>